* {
  box-sizing: border-box;
}
.page {
  width: 64%;
  height: 100vh;
  background-color: #0fa0c5;
  margin: auto;
}

.header {
  width: 100%;
  height: 10%;
  background-color: #fff;
}
.header h1 {
  font-weight: normal;
  font-size: 30px;
}

.content {
  height: 82%;
  width: 95%;
  margin: auto;
  background-color: #fff;
}
.content {
  border: 4px solid #f5821f;
  margin-top: -1%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.questions {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
}
.select,
.selectedItems div {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  align-items: center;
}
.dropdownMenu1 {
  position: absolute;
  left: 36%;
  top: 16%;
}
.question1 {
  display: flex;
}
.question1 img {
  width: 81%;
  height: 90%;
}
.carousel {
  margin-top: 7%;
}

.question2 img {
  width: 70%;
  margin-top: 36px;
}
.question2 {
  display: flex;
}

.dropdownMenu2 {
  margin-top: 72px;
}
.question3 {
  display: flex;
  margin-left: 25%;
  margin-top: 30px;
}
.question3 img {
  width: 67%;
}
.bottom {
  display: flex;
}
.dropdownMenu3 {
  margin-top: 46px;
}
.question4 {
  display: flex;
}
.question4 img {
  margin-left: 40%;
  width: 87%;
}
.selectedItems {
  visibility: hidden;
}
.select {
  cursor: pointer;
}
.visible {
  visibility: visible;
}

.correct {
  cursor: pointer;
}
.wrong {
  cursor: pointer;
}
.correctAnswer {
  cursor:not-allowed;
  background-color: #ebebeb !important;
  border: 1px solid greenyellow;
  pointer-events: none;
  color: lightskyblue;
  
}
